<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="userOptions">

      <!-- Identificated User Options-->
        <ul class="navbar-nav mr-auto" *ngIf="identity">

            <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
                  <span class="glyphicon glyphicon-home">Inicio</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">TimeLine</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">People</a>
            </li>

        </ul>

        <!-- Not Identificated User Options-->
        <ul class="navbar-nav mr-auto navbar-right" *ngIf="!identity">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-log-in"></span>Identificarse</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-user"></span>Registrarse</a>
            </li>

        </ul>

        <ul class="navbar navbar-nav  navbar-right" *ngIf="identity">
            <li class="avatar"></li>

            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{identity.name}}
                  <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      <span class="glyphicon glyphicon-user"></span>
                      Perfil</a>
                  </li>

                  <li>
                    <a [routerLink]="['/my-data']">
                      <span class="glyphicon glyphicon-cog"></span>
                      Datos</a>
                  </li>

                  <li>
                    <a class="pointer" (click)="logout()">
                      <span class="glyphicon glyphicon-log-out"></span>
                      Cerrar Sesión</a>
                  </li>

                </ul>

            </li>
        </ul>

    </div>

</nav>
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<router-outlet></router-outlet>
