<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf = "status == 'success'">
        Se han actualizado tus datos correctamente
    </div>

    <div class="alert alert-danger" *ngIf = "status == 'error'">
        Error al actualizar los datos
    </div>


    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
      <p>
          <label for="name">Nombre</label>
          <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
          <span *ngIf="!name.valid && name.touched">Nombre Obligatorio</span>
      </p>

      <p>
          <label for="lastname">Apellidos</label>
          <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control" required>
          <span *ngIf="!lastname.valid && lastname.touched">Apellidos Obligatorios</span>
      </p>

      <p>
          <label for="nick">Apodo</label>
          <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required>
          <span *ngIf="!nick.valid && nick.touched">Apodo Obligatorio</span>
      </p>

      <p>
          <label for="email">Correo Electrónico</label>
          <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
          <span *ngIf="!email.valid && email.touched">Correo Electrónico Obligatorio</span>
      </p>

      <input type="submit" name="" value="{{title}}" class="btn btn-success" [disabled]="!userEditForm.form.valid">

    </form>

</div>
